*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 235, 231);
}

.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 7vw 12vw 12vw 16vw 5vw;
}

#header-quem-somos{
display: grid;
grid-column: span 4;
grid-row: 1;
background-color: rgb(31,31,36);
color: rgb(255,255,255);
}


#logo-header{
     grid-column: 1;
     grid-row: 1;
     padding-left: 20px;

 }

 #titulo-header{
    grid-column: 1;
    grid-row: 1;
    padding-left: 10vw;
    padding-top: 2vw;
}

#sessao-quem-somos{
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    grid-column:span 4 ;
    grid-row: 2;
}

#paragrafo1-da-sessao{
    text-align:justify ;
    font-size: 18px;
}


#sessao-diferenciais{
    padding-left: 2vw;
    padding-right: 2vw;
    grid-column:span 4 ;
}

titulo2-da-sessao{
    grid-column: span 4;
    grid-row: 3;
    text-align:justify ;
    font-size: 18px;
   
}

#paragrafo2-da-sessao{
    padding-top: 1vw;
    text-align:justify ;
    font-size: 18px;
    grid-row: 4;
}

#sessao-missao{
    padding-top: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    grid-column:span 4 ;
}

titulo3-da-sessao{
    grid-column: span 4;
    grid-row: 4;
    text-align:justify ;
    font-size: 18px;
    padding-bottom: 20px;
}

#paragrafo3-da-sessao{
    padding-top: 1vw;
    text-align:justify ;
    font-size: 18px;
    grid-row: 4;
}

footer{
    background-color: rgb(31,31,36);
    grid-column: span 4;
    grid-row: 5;
    color: whitesmoke;
    text-align: center;
    padding-top: 1.5vw;

}
